@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;
}

a {
  text-decoration: none;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#f7f7f7;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--red);
}

.btn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid var(--red);
  color:var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background:var(--red);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:#fff;
}

.navbar {
  box-shadow: 0 1px 35px rgba(0, 0, 0, 0.08);
  font-size: 1.8rem;
  color: #000;
  padding: 10px 0;
  background: #fff;
}

.navbar .logo {
  font-size: 30px;
  color: red;
}

.dropdown-item {
  font-size: 1.8rem;
  padding: 5px 20px;
}

.navbar .nav-item {
  padding: 0 2px;
}

.navbar .nav-link {
  font-weight: 700 !important;
  color: #000 !important;
  padding: 5px 15px !important;
  font-family: Lato;
}

@media(max-width: 768px) {
  .navbar .nav-link {
    padding: 15px 0 !important;
    font-weight: 700;
    font-size: 2.3rem !important;
  }

  .navbar .nav-item .badge {
    top: 50px !important;
  }
}

.navbar .nav-item .badge {
  top: 0px !important;
  left: 50px !important;
  font-size: 10px;
}

.navbar-toggler {
      border: 0;
    }

    .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
      outline: none;
      border: 0;
      box-shadow: none;
    }

    .toggler-icon {
      width: 30px;
      height: 2px;
      background: rgba(0, 0, 0, 0.7);
      display: block;
      transition: all 0.3s ease;
    }

    .navbar-toggler .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
      width: 36px;
      border: none;
    }

    .navbar-toggler .middle-bar {
      opacity: 0;
      margin: 7.5px;
    }

    .navbar-toggler .bottom-bar {
      transform: rotate(-45deg) translateX(-2px);
      transform-origin: 10% 10%;
      width: 36px;
    }

    .navbar-toggler.collapsed .top-bar {
      transform: rotate(0);
      width: 30px;
      height: 2px
    }

    .navbar-toggler.collapsed .middle-bar {
      opacity: 1
    }

    .navbar-toggler.collapsed .bottom-bar {
      transform: rotate(0);
      width: 30px;
    }


.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 50vh;
  height: 100vh;
  align-items: center;
  background:url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f2f2f2;
}

.home .content{
  flex:1 1 40rem;
  padding-top: 0rem;
}

.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:100%;
  padding:1rem;
  animation:float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

.home .content h3{
  font-size: 5rem;
  color:#333;
  font-weight: 700;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}

.speciality {
  padding: 50px 0 70px 0;
}

.speciality h1 {
  color: #fff;
  font-weight: 700;
}

.speciality .box{
  flex:1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: .5rem;
}

.speciality .box .image{
  height:100%;
  width:100%;
  object-fit: cover;
  position: absolute;
  top:-100%; left:0;
}

.speciality .box .content{
  text-align: center;
  background:#fff;
  padding:2rem;
}

.speciality .box .content img{
  margin:1.5rem 0;
}

.speciality .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.speciality .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}

.speciality .box:hover .image{
  top:0;
}

.speciality .box:hover .content{
  transform: translateY(100%);
}

.popular {
  padding-top: 50px;
}

.popular h1 {
  font-weight: 700;
}


.popular  .box{
  padding:1.5rem;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: 1px;
  text-align: center;
  flex:1 1 30rem;
  position: relative;
}

.popular  .box img{
  height:25rem;
  object-fit: cover;
  width:100%;
  border-radius: .5rem;
}

.popular  .box .price{
  position: absolute;
  top:3rem; left:3rem;
  background:var(--red);
  color:#fff;
  font-size: 2rem;
  padding:.5rem 1rem;
  border-radius: .5rem;
}

.popular  .box h3{
  color:#333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box .stars i{
  color:gold;
  font-size: 1.7rem;
  padding:1rem .1rem;
}

.popular .btn {
  padding: 10px 0;
  border-radius: 0;
}

.step-container h1 {
  font-weight: 700;
  color: #fff;
}

.steps{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:1rem;
  padding: 50px 0;
}

.steps .box{
  flex:1 1 25rem;
  padding:1rem;
  text-align: center;
}

.steps .box img{
  border-radius: 50%;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.steps .box h3{
  font-size: 2.5rem;
  font-weight: bold;
  color:#fff;
  text-transform: uppercase;
  padding:3rem 1rem 1rem 1rem;
}

.gallery .heading {
  font-weight: 700;
}

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallery .box-container .box{
  height:30rem;
  flex:1 1 30rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top:-100%; left:0;
  height: 100%;
  width:100%;
  background:rgba(255,255,255,.9);
  padding:2rem;
  padding-top: 5rem;
  text-align: center;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.gallery .box-container .box .content p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.gallery .box-container .box:hover .content{
  top:0;
}

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.review .box-container .box{
  text-align: center;
  padding:2rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: .5rem;
  flex:1 1 30rem;
  background:#333;
  margin-top: 6rem;
}

.review .box-container .box img{
  height: 12rem;
  width:12rem;
  border-radius: 50%;
  border:1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.review .box-container .box .stars i{
  font-size: 2rem;
  color:var(--red);
  padding:.5rem 0;
}

.review .box-container .box p{
  font-size: 1.5rem;
  color:#eee;
  padding:1rem 0;
}

.order .row{
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.order .row .image{
  flex:1 1 30rem;
}

.order .row .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
}

.order .row form{
  flex:1 1 50rem;
  padding:1rem;
}

.order .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input, .order .row form textarea{
  padding:1rem;
  margin:1rem 0;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  width:49%;
}

.order .row form textarea{
  width:100%;
  resize: none;
  height:15rem;
}

.order .row form .btn{
  background:none;
}

.order .row form .btn:hover{
  background:var(--red);
}

.footer{
  background:#000;
  text-align: center;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit{
  padding:2.5rem 1rem;
  color:#fff;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--red);
}

#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding:1.45rem 1.7rem;
  font-size: 2.2rem;
  background:#ff3838;
  color:#fff;
  border-radius: .5rem;
  transition: all 1s linear ;
  z-index: 1000;
  border-radius: 50%;
}

#scroll-top:hover {
  background-color: #b80909;
}

#scroll-top.active{
  top:calc(100% - 8rem)
}

.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.loader-container.fade-out{
  top:-120%;
}

.empty {
  line-height: 100px;
  text-align: center;
  border: 2px dashed rgba(255, 56, 56, 0.5);
}

.empty h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Nova Square', cursive;
  opacity: 0.7;
}

/*Shopping cart*/
.cart input::-webkit-outer-spin-button, .cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart {
  font-size: 1.6rem;
  height: auto !important;
}

.cart h5 {
  font-size: 2.5rem;
  font-weight: 700 !important;
}

@media (max-width: 768px) {
  .cart {
    font-size: 2.5rem !important;
    margin-top: 0;
    padding-top: 0;
  }

  .cart h2 {
    padding: 20px 0;
    font-size: 2.5rem;
  }

  .cart h5 {
    font-size: 3rem;
    font-weight: 700 !important;
    padding: 15px 0;
  }
}

.cart .button {
  padding: 9px 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: all 0.3s ease !important;
  color: #000;
  font-size: 1rem;
}

.cart .button:hover {
  background-color: #ff3838;
  color: #fff;
}









/* media queries  */

@media(max-width:991px){

  html{
    font-size: 55%;
  }


  section{
    padding:2rem;
  }

}


@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

}